global:
  # How far ahead we search to find the "next N races"
  horizon_hours: 48

  # How many races (by start time) we finally print
  take: 10

  defaults:
    runner_count:
      min: 7
      max: 16

    # If a region doesn't specify liquidity_min, use this
    liquidity_min: 2000

regions:
  GB:
    name: "Great Britain"
    market_countries: ["GB"]
    liquidity_min: 3000

  IE:
    name: "Ireland"
    market_countries: ["IE"]
    liquidity_min: 2000

  AU:
    name: "Australia"
    market_countries: ["AU"]
    liquidity_min: 1500

  NZ:
    name: "New Zealand"
    market_countries: ["NZ"]
    liquidity_min: 1000

  ZA:
    name: "South Africa"
    market_countries: ["ZA"]
    liquidity_min: 500


structure_gates:
  anchor:
    top_n: 3
    min_top_implied: 0.65 # calculated as 1/back price - do the top n sum to >= top implied value to pass (ie over 65% probability)

  soup:
    top_k: 5
    max_band_ratio: 1.20   # if topK max/min price <= this => FAIL soup - stops many plausible winners

  tier:
    top_region: 6
    min_jump_ratio: 1.25   # max adjacent ratio in top_region must be >= this (ie a gap between clustered pricing)
